<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Turnip News Network</title>
  <link href="/The-Turnip-News-Network/style.css" rel="stylesheet" type="text/css" />
  <script src="/The-Turnip-News-Network/script.js"></script>
  <link rel="icon" href="/The-Turnip-News-Network/Background.png" />
</head>
<BODY TEXT="#000000">
  <h1>The Turnip News Network</h1>

  <a href="/">Go back</a>
  
  <h2>Date here</h2>
  <h3>Title/h3>

  <div id="content">
    <p>why are you here</p><br>
    
  <div id="content">
    <p>leave</p><br>

  <div id="content">
    <p>get out</p><br>

  <div id="content">
    <p>there's nothing on this page it's a fucking template</p><br>

  <img src="example.png">

  </div>
</body>
</html>
